numpy
pandas
matplotlib
scipy
seaborn
Pillow
ipython
jupyter
jupyterlab
xmltodict
PyYAML
notebook
widgetsnbextension
ipywidgets
iminuit
gitpython
dpath
ipympl
numpy-indexed
altair
selenium
chromedriver
altair
iminuit
cairosvg
uncertainties
